* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

#board,
.boardInfo {
  max-width: 500px;
  margin: 100px auto;
}
#board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
#start,
.boardInfo {
  font-size: 25px;
}
#gameOver {
  display: none;
}
.boardInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
#start {
  background: #f35a51;
  border: none;
  color: black;
  cursor: pointer;
}
#scoreBoard {
  display: inline-flex;
}
.square {
  aspect-ratio: 1;
  border: 1px solid #11273f;
}
.emptySquare {
  background: #456990;
}
.snakeSquare {
  background: #ccf47f;
}
.foodSquare {
  background: #f35a51;
}
